<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Список заявок</title>
    <script type="text/javascript" th:src="@{/js/close-ticket.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:insert="~{main/header}"></div>
    <h1>Список заявок</h1>

    <div th:if="${not #lists.isEmpty(tickets)}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Название или IP компьютера</th>
                <th>Статус заявки</th>
                <th>Заявка закрыта?</th>
                <th>Действия</th>
            </tr>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.id}">ID</td>
                <td th:text="${ticket.description}">Описание</td>
                <td th:text="${#temporals.format(ticket.createdAt, 'yyyy-MM-dd HH:mm:ss')}">Дата создания</td>
                <td th:text="${ticket.pcNameOrIp != null ? ticket.pcNameOrIp : '-'}">Название или IP компьютера</td>
                <td th:text="${ticket.status}">Статус заявки</td>
                <td th:text="${ticket.isClosed ? 'Да' : 'Нет'}">Заявка закрыта?</td>
                <td>
                    <button th:if="${not ticket.isClosed}" th:onclick="'closeTicket(' + ${ticket.id} + ')'">Закрыть</button>
                </td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(tickets)}">
        <p>Заявок не найдено.</p>
    </div>

    <br>
    <a th:href="@{/web/users/tickets/create}">Создать новую заявку</a>
    <div th:insert="~{main/footer}"></div>
    </body>
</html>