<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Заявки специалиста</title>
    <script th:src="@{/js/change-status.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div th:insert="~{main/header}"></div>

    <h1>Заявки специалиста</h1>
    <a th:href="@{/web/spec/tickets/not-assigned}" class="button">Заявки без исполнителя</a>

    <form th:action="@{/web/spec/tickets}" method="get">
        <label for="status">Фильтр по статусу:</label>
        <select id="status" name="status">
            <option value="">Все</option>
            <option th:each="status : ${statusList}" th:value="${status}" th:text="${status}"></option>
        </select>
        <button type="submit">Применить</button>
    </form>

    <div th:if="${not #lists.isEmpty(tickets)}">
        <table border="1">
            <tr>
                <th>ID</th>
                <th>email</th>
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Название или IP</th>
                <th>Статус</th>
                <th>Смена статуса</th>
            </tr>
            <tr th:each="ticket : ${tickets}">
                <td th:text="${ticket.id}"></td>
                <td th:text="${ticket.userName}"></td>
                <td th:text="${ticket.description}"></td>
                <td th:text="${#temporals.format(ticket.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td th:text="${ticket.pcNameOrIp}"></td>
                <td th:text="${ticket.status}"></td>
                <td th:if="${ticket.status.name() != 'COMPLETED'}">
                    <select th:onchange="'updateTicketStatus(' + ${ticket.id} + ', this.value)'">
                        <option value="" selected>Выбрать статус</option>
                        <option value="COMPLETED" th:selected="${ticket.status == 'COMPLETED'}">COMPLETED</option>
                        <option value="REASSIGNED" th:selected="${ticket.status == 'REASSIGNED'}">REASSIGNED</option>
                    </select>
                </td>
                <td th:if="${ticket.status.name() == 'COMPLETED'}">Нельзя изменить</td>
            </tr>
        </table>
    </div>

    <div th:if="${#lists.isEmpty(tickets)}">
        <p>Нет заявок.</p>
    </div>

    <br>
    <a th:href="@{/web/spec/tickets}">Назад</a>
    <div th:insert="~{main/footer}"></div>
</body>
</html>
